<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Quizzes</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; 
        }

        h1 {
            text-align: center;
            color: #333; 
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            margin: 10px;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        a {
            text-decoration: none;
            color: black; 
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline; 
        }

        p {
            text-align: center;
            color: #555;
        }
    </style>
</head>
<body>
    <h1>User Quizzes</h1>

    <% if (userQuizzes.length > 0) { %>
        <ul>
            <% userQuizzes.forEach(quiz => { %>
                <li>
                        Quiz Name: <%= quiz.quizName%><br>
                        Quiz Id: <%= quiz.quizId %> <br>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No quizzes found for the user.</p>
    <% } %>

    <!-- Add any additional styling or content as needed -->
</body>
</html>
