<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;   
        }
        .container {
            text-align: center;
            padding-top: 55px;
            background-color: lightgreen;
            width: 50%;
            height: 30vh;
            border-radius: 20px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.317);
        }
        .quiz-id {
            color: green;
            cursor: pointer;
        }  
        .quizz-id {
            background-color: rgba(178, 163, 163, 0.534);
            color: black;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 id="quizId" class="quiz-id">Questions submitted successfully! <br>Quiz ID: <span class="quizz-id"><%= doc.id %></span></h1>
    </div>
    
</body>
</html>
